:root {
  --main-color: #2196f3;
  --main-color-alt: #1787e0;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;
}

.product_card .img{
max-height: 200px;
}
.product_card{
    margin-bottom: 20px;
}
.products_container{
    margin: 50px 50%;
    padding: 0;
}
body{
    background-color: #ececec !important;
}
.card {
    --bg-card: white;
    --primary: #6d28d9;
    --primary-800: #4c1d95;
    --primary-shadow: #2e1065;
    --light: #d9d9d9;
    --zinc-800: #18181b;
    --bg-linear: linear-gradient(0deg, var(--primary) 50%, var(--light) 125%);
  
    position: relative;
  
    display: flex;
    flex-direction: column;
    gap: 2rem;
  
    padding: 1rem;
    width: 15rem;
    background-color: var(--bg-card) !important;
  
    border-radius: 0 !important;
    margin-bottom: 30px;
    border: 1px solid black !important;
    box-shadow: 7px 7px 0px -3px rgba(0,0,0,0.7),0px 10px 15px -3px rgba(0,0,0,0.1);
            padding-bottom: 2rem;

    }
  .card:hover{
    scale: 1.1;
    transition: var(--main-transition);
  }
  .image_container {
    overflow: hidden;
    cursor: pointer;
  
    position: relative;
    z-index: 5;
  
    width: 100%;
    height: 8rem;
    background-color:black ;
  
    border-radius: 0.5rem;
  }
  .stock-level{
    overflow: clip;
    width: 100%;
    font-size: 1rem;
    font-weight: 600;
    color: rgb(119, 119, 119);
    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    /* text-align: left; */
    margin: 15px 0;
    font-weight: 900;
  }
  .image_container .image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
    width:100%;
    height: 100%;
    fill: var(--light);
  }
  
  .title {
    overflow: clip;
  
    width: 100%;
  
    font-size: 1rem;
    font-weight: 600;
    color:   rgb(119, 119, 119) ;

    text-transform: capitalize;
    text-wrap: nowrap;
    text-overflow: ellipsis;
  }
  
  .size {
    font-size: 0.75rem;
    color: var(--light);
  }
  
  .list-size {
    display: flex;
    align-items: center;
    gap: 0.25rem;
  
    margin-top: 0.25rem;
  }
  
  .list-size .item-list {
    list-style: none;
  }
  
 
  
  .action {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: 700;
    color:   rgb(119, 119, 119);
  }
  
  .btn-23,
.btn-23 *,
.btn-23 :after,
.btn-23 :before,
.btn-23:after,
.btn-23:before {
  border: 0 solid;
  box-sizing: border-box;
}
a{
  text-decoration: none !important;
  
}
.bttnn{
  background-color: rgb(142, 0, 0) !important;
  border: 1px solid rgb(142, 0, 0) !important;

}
.btn-23 {
  -webkit-tap-highlight-color: transparent;
  /* -webkit-appearance: button; */
  background-color: var(--main-color-alt);
  background-image: none;
  color: #fff;
  cursor: pointer;
  font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
    Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans, sans-serif,
    Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol, Noto Color Emoji;
  font-size: 80%;
  font-weight: 900;
  line-height: 1.5;
  margin: 0;
  /* -webkit-mask-image: -webkit-radial-gradient(#000, #fff); */
  padding: 0;
  text-transform: uppercase;
}

.btn-23:disabled {
  cursor: default;
}

.btn-23:-moz-focusring {
  outline: auto;
}

.btn-23 svg {
  display: block;
}

.btn-23 [hidden] {
  display: none;
}
.bttn{
  background-color: rgb(142, 0, 0) !important;
  border: 1px solid rgb(142, 0, 0) !important;
}
.btn-23 {
  border-radius: 99rem;
  border-width: 2px;
  overflow: hidden;
  padding: 0.8rem 3rem;
  position: relative;
}

.btn-23 span {
  display: grid;
  inset: 0;
  place-items: center;
  position: absolute;
  transition: opacity 0.2s ease;
}

.btn-23 .marquee {
  --spacing: 5em;
  --start: 0em;
  --end: 5em;
  -webkit-animation: marquee 1s linear infinite;
  animation: marquee 1s linear infinite;
  -webkit-animation-play-state: paused;
  animation-play-state: paused;
  opacity: 0;
  position: relative;
  text-shadow: #fff var(--spacing) 0, #fff calc(var(--spacing) * -1) 0,
    #fff calc(var(--spacing) * -2) 0;
}

.btn-23:hover .marquee {
  -webkit-animation-play-state: running;
  animation-play-state: running;
  opacity: 1;
}

.btn-23:hover .text {
  opacity: 0;
}


@keyframes marquee {
  0% {
    transform: translateX(var(--start));
  }

  to {
    transform: translateX(var(--end));
  }
}
  .row{
    margin-top: 100px;
  }
  .search{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100% !important;
  }
  .search input{
    width: 80% !important;
    padding: 10px;
  }
  .sale-price {
    display: flex;
    align-items: center;
    gap: 4px;
  }
  
  .original-price {
    text-decoration: line-through;
    font-size: 15px;
  }
  
  @media (max-width: 770px){
    .product-in-products {
      align-items: center;
      display: flex;
      flex-direction: column;
  }
  }
 
  .genres-check{
    display: flex;
    width: 100%;
  }
  .filter {
    overflow: auto;
  display: flex;
  scroll-snap-type: x mandatory;
  width: 90%;
  margin: 30px auto;
  padding: 0 15px;
  text-wrap: nowrap;
  
  }
  .genre-check{
    padding-right:  10px;
  }
